body{
 font-family: "Roboto", sans-serif;
 color:#434455;
 background-color: #FFFF;
}
  
h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 0;
    margin-top: 0;
}
    
a {
   text-decoration: none;
   color: currentColor;
}

button{
 cursor: pointer;
}

address {
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc
}

.header-navigation{
    display: flex;
    align-items: center; 
}

.header-container {
    display: flex;
    align-self: center;
}


.header-menu-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.header-menu-item {
    padding: 24px 0;
}


.header-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}


.header-menu-item,
.header-menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;  
    display: block;
    padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404BBF;
    padding: 24 px 0;
    display: block;
}


.header-info{
 font-style: normal;
}

.header-info-item{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}


.address-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;   
}

/*----------- section-one-title----------- */
.section-one-title{
    background: #2e2f42; 
    padding-top: 188px;
    padding-bottom: 188px;
}

.general-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;  
    max-width: 496px;
}

.button {
    width: 636px;
    margin: 0 auto;
}

.buttonstyle{
    border: none;
    background-color:  #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}

.buttonstyle:hover,
.buttonstyle:focus{
    background-color: #404BBF  
}

/* -----------advantages----------- */

.advantages{
    padding: 120px 0;  
}

.advantages-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

.advantages-list{
    padding: 120px 0;
    display: flex;
    gap: 24px;
}

.advantages-item{
    width: calc((100% - 72px) / 4);  
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.advantages-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

/* -----------team----------- */

.team{
    background-color: #F4F4FD;  
    padding: 120px 0;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;  
    margin-bottom: 72px;
}

.team-list{
    padding-top: 72px;
    display: flex;
    gap: 24px;  
}


.team-item{
    background-color: #FFFFFF;    
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;  
}

.team-item .team-item-image{
    display: block; 
}

.info-container {
    padding: 32px 0;
}

 .team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
 }

 .team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;  
 }

 /*--------------portfolio----------------*/

 .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-headline-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;   
    margin-bottom: 72px;
}

.portfolio-list {
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item .portfolio-item-img {
    display: block;
}

.container-app-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.headline-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;  
    margin-bottom: 8px;
}

.title-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  
}

/*--------------footer----------------*/
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}


.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    margin-top: 16px;
}